nav {
  display: flex;
  justify-content: space-between;
  flex: 1 1 auto;
  padding: 0 20px;
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  background-color: rgb(29, 29, 29);
  color: white;
  align-items: center;
  z-index: 1000;

  i.fa-bars {
    display: none;
  }

  .nav-title {
    font-size: 30px;
    padding: 20px;
    display: block;
  }

  ul {
    display: flex;
    gap: 40px;
    justify-content: center;
    align-items: center;

    li {
      text-align: center;
      position: relative;
      padding: 10px;
      max-width: 80px;
      line-height: 1.5rem;

      a {
        span {
          &.active {
            color: var(--primary-pink);
          }

          &.active::after {
            content: "";
            background: var(--primary-pink);
            width: 100%;
            height: 5px;
            position: absolute;
            bottom: 0px;
            left: 0;
          }
        }
      }
    }
  }
}

.home {
  margin: 2rem;

  .home-container {
    width: 100%;
    justify-content: space-around;
    display: flex;
    gap: 1rem;

    .introduction {
      margin: 2rem 0;
      min-width: 15rem;
      width: 60vw;
      max-width: 40rem;
      flex: 1 1 auto;

      :first-child {
        text-align: center;
        font-size: 1.5rem;
        line-height: 3rem;
      }
    }

    .my-photo {
      object-fit: contain;
      margin: 20px;

      img {
        min-width: 10rem;
        width: 50vw;
        max-width: 30rem;
        border-radius: 20px;
      }
    }
  }
}

.section {
    margin: 0 2rem;
  padding: 6rem 0;
}

.journey-container {
    .my-journey {
        margin-bottom: 30px;
    }

    h5 {
        color: var(--secondary-pink);
        margin-bottom: 5px;
    }
    p {
        margin-top: 10px;
    }
}

.resume-container {
    .my-resume {
        margin-bottom: 30px;
        display: flex;
        gap: 30px;

        .col {
            display: flex;
            flex-direction: column;
            gap: 15px;
            min-width: 300px;
            max-width: 1200px;
        }

        .experience {
            border-radius: 10px;
            padding: 20px;
            box-shadow: -10px -5px 20px var(--tertiary-pink);
            transition: transform 0.3s ease;

            .sub-title {
                font-weight: 600;
            }

            .date {
                color: #666;
                font-weight: 600;
            }

            ul li {
                list-style: circle;
                margin: 15px 0;
            }

            &:hover {
                transform: translateX(-15px) translateY(-5px);
            }
        }
    }
}

@media (max-width: 1058px) {
  nav {
    ul {
      display: none;
    }

    i.fa-bars {
      display: block;
      font-size: 25px;
    }
  }
}

@media (max-width: 900px) {
  .home-container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

@media (max-width: 700px) {
    .resume-container {
        .my-resume {
            display: flex;
            gap: 30px;
            flex-direction: column;
        }
    }
}
